---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: method=flickr.reflection.getMethods&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="<oauth_consumer_key>",
        oauth_nonce="msMuNmM%2Fk5LMkEuEVz2QA3Qes3yudxV83OsDiSFh2Hs%3D", oauth_signature="<oauth_signature>%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1466458780", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Y-Trace:
      - BAEAQAAAAABWYjgvy65bUgAAAAAAAAAApP8JY3NN6k4AAAAAAAAAAAAFNbyKvJwZAAU1vIrAAnGR98gHAAAAAA--
    body:
      encoding: ASCII-8BIT
      string: '{"methods":{"method":[{"_content":"flickr.activity.userComments"},{"_content":"flickr.activity.userPhotos"},{"_content":"flickr.auth.checkToken"},{"_content":"flickr.auth.getFrob"},{"_content":"flickr.auth.getFullToken"},{"_content":"flickr.auth.getToken"},{"_content":"flickr.auth.oauth.checkToken"},{"_content":"flickr.auth.oauth.getAccessToken"},{"_content":"flickr.blogs.getList"},{"_content":"flickr.blogs.getServices"},{"_content":"flickr.blogs.postPhoto"},{"_content":"flickr.cameras.getBrandModels"},{"_content":"flickr.camera[...]
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: text=car&media=photos&per_page=10&method=flickr.photos.search&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="<oauth_consumer_key>",
        oauth_nonce="rUtHVubu8rzMNOyJH0LtHN%2F4HTpSEXokP9a5akFG14c%3D", oauth_signature="<oauth_signature>%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1466458781", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Y-Trace:
      - BAEAQAAAAAAlU88Z_S2.NgAAAAAAAAAAzEG_DpO5vfQAAAAAAAAAAAAFNbyKx6wEAAU1vIrMhht6mV05AAAAAA--
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":58838,"perpage":10,"total":"588372","photo":[{"id":"27727440891","owner":"60834411@N08","secret":"c4b855a253","server":"7517","farm":8,"title":"IMG_1990","ispublic":1,"isfriend":0,"isfamily":0},{"id":"27190875284","owner":"68499056@N02","secret":"0802f88f15","server":"7366","farm":8,"title":"MINI
        COOPER FAIXAS PERSONALIZADAS. PERSONALTY TRIPS. #minicooper  #mini #google
        #envelocar #watertransferprinting #watertra #boxmil #envelopamento #wrap #wrapping
        #wraped #Oracal #bmw #envelocar #jcw #minicooper #mini","ispublic":1,"isfriend":0,"isfamily":0},{"id":"27727440221","owner":"8143967@N05","secret":"3afec79b49","server":"7669","farm":8,"title":"2015-05-23
      [...]
